---
import BaseLayout from '../layouts/BaseLayout.astro';
import Cube from '../components/home/Cube.astro';
import { Image } from 'astro:assets';
import ProfilePic from '../assets/home/perfil1.jpg';
---

<BaseLayout>
	<div class="bg-orange-700 -mt-12 grow custom-bg">
		<div class="mx-auto block w-fit">
			<Cube />
		</div>
		<div class="text-center -mt-20 w-screen absolute bottom-0 h-[64vh]">
			<Image
				class="mix-blend-multiply mx-auto w-auto h-full"
				src={ProfilePic}
				alt="A pictor of me looking up (to the 3D cube)"
			/>
		</div>
		<nav class="flex flex-col w-fit m-auto relative mt-[33vh] font-mono mb-4">
			<a
				href="/blog"
				class="before:content-['>_'] hover:bg-orange-700 px-1 focus:bg-orange-700 transition"
				id="aboutMe"
				>Blog
			</a>

			<a
				href="/about"
				class="before:content-['>_'] hover:bg-orange-700 px-1 focus:bg-orange-700 transition"
				id="aboutMe"
			>
				About</a
			>

			<a
				href="/assets/cv"
				class="before:content-['>_'] hover:bg-orange-700 px-1 focus:bg-orange-700 transition"
				download
				class="navElement"
				id="webDevCV"
			>
				Resume<svg
					class="inline pb-1"
					xmlns="http://www.w3.org/2000/svg"
					width="25"
					height="25"
					viewBox="0 0 24 24"
					><path
						fill="currentColor"
						d="m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-6 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z"
					></path></svg
				>
			</a>

			<button
				class="before:content-['>_'] hover:bg-orange-700 px-1 focus:bg-orange-700 transition block md:hidden"
				id="arButton"
				tabindex="0"
				title="Only for devices that supports AR"
			>
				Augment Reality
			</button>
		</nav>
	</div>
	<style>
		@media screen and (min-width: 1024px) {
			.onlyMobile {
				display: none;
			}
		}
		.custom-bg {
			background: radial-gradient(
				circle,
				rgba(234, 88, 12, var(--tw-bg-opacity)) 7%,
				rgb(194, 65, 12, var(--tw-bg-opacity)) 25%,
				rgba(41, 37, 36, var(--tw-bg-opacity)) 90%
			);
			/* background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
		}
	</style>

	<!-- styles -->
	<!-- <style>
			body {
				width: 100vw;
				height: 100%;
				background: radial-gradient(circle, rgba(221, 61, 32, 1) 49%, rgba(177, 43, 19, 1) 100%);
				overflow: hidden;

				/* background-color: rgb(221, 61, 32);
				margin: 0; */
			}

			.home {
				background-blend-mode: multiply, normal;
				background-color: rgb(221, 61, 32);
				background: url('/assets/perfil/perfil1.jpg'),
					radial-gradient(circle, rgba(221, 61, 32, 1) 49%, rgba(177, 43, 19, 1) 100%);
				background-repeat: no-repeat;
				background-position: bottom;
				background-size: 57vh, 100%;
				height: 100%;
				width: 100%;
				overflow: hidden;
				display: -ms-grid;
				display: grid;
				-ms-grid-rows: 40vh auto;
				grid-template-rows: 40vh auto;

				text-align: center;
				color: white;
			}

			a {
				color: white;
			}

			a:hover {
				color: rgb(221, 61, 32);
			}

			button {
				color: white;
				text-decoration: none;
				background: none;
				border-radius: 0;
				width: unset;
				border: none;
				padding: 0;
			}

			button:disabled,
			button.disabled {
				color: lightgrey;
				text-decoration: line-through;
				cursor: not-allowed;
			}

			.profile {
				height: 100%;
				width: 100vw;
				margin: auto;

				display: -ms-grid;

				display: grid;
				-ms-grid-rows: 31vh auto;
				grid-template-rows: 31vh auto;
			}

			.navbar {
				/* border-radius: 3px; */
				width: fit-content;
				max-width: 350px;
				/* max-width: 145px; */
				margin: auto;
				padding: 7px;
				font-size: 1.2rem;
				color: white;
				background-color: black;
				border: 1px solid white;
			}
			@media (max-width: 700px) {
				.navbar {
					font-size: 1.5rem;
				}
			}

			.navElement:hover,
			.navElement:focus {
				color: white;
				background-color: rgb(221, 61, 32);
				outline: none;
			}

			.navElement {
				display: -ms-grid;
				display: grid;
				-ms-grid-columns: 1fr 9fr;
				grid-template-columns: 1fr 9fr;
				cursor: pointer;
				text-align: left;
				margin-top: 5px;
				padding-right: 1em;
				width: 100%;
				/* border-bottom: 1px solid rgba(255, 255, 255, 0.15); */
			}

			.navElementIndicator {
				visibility: hidden;
				text-align: right;
				padding-right: 5px;
			}

			.navElement:hover > .navElementIndicator,
			.navElement:focus > .navElementIndicator {
				visibility: visible;
			}



			.title {
				height: auto;
				overflow: hidden;
				-webkit-transition: ease-in-out;
				-o-transition: ease-in-out;
				transition: ease-in-out;
				border-bottom: 1px solid white;
				padding-bottom: 3px;
				color: white;
				display: -ms-grid;
				display: grid;
				-ms-grid-columns: auto 15px;
				grid-template-columns: auto 15px;
				text-align: left;
			}

			.info {
				text-align: center;
				cursor: help;
				/* border-radius: 15px;
  border: 1px solid white; */
			}

			.infoData {
				height: 0;
				width: 0px;
				visibility: hidden;
				-webkit-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;
				grid-column-start: 1;
				-ms-grid-column: 1;
				grid-column: 1;
				-ms-grid-column-span: 2;
				grid-column-end: span 2;
			}

			.info:hover ~ .infoData {
				visibility: visible;
				white-space: nowrap;
				overflow: hidden;
				width: 100%;
				height: calc(8px + 1.3vmin);
			}

			.info:hover ~ .infoData span {
				display: inline-block;
				padding-left: 120%;
				-webkit-animation-delay: 0.6s;
				animation-delay: 0.6s;
				-webkit-animation: marquee 12s linear infinite;
				animation: marquee 12s linear infinite;
			}

			.infoData span {
				padding-left: 120%;
			}

			@-webkit-keyframes marquee {
				0% {
					-webkit-transform: translate(0, 0);
					transform: translate(0, 0);
				}
				100% {
					-webkit-transform: translate(-100%, 0);
					transform: translate(-100%, 0);
				}
			}

			@keyframes marquee {
				0% {
					-webkit-transform: translate(0, 0);
					transform: translate(0, 0);
				}
				100% {
					-webkit-transform: translate(-100%, 0);
					transform: translate(-100%, 0);
				}
			}

			.pdf {
				width: 100%;
				height: 100%;
			}

			#modalOverlay {
				background-color: rgba(0, 0, 0, 0.66);
				position: absolute;
				top: 0;
				left: 0;
				height: 100vh;
				width: 100vw;

				-webkit-transition: 0.3s;

				-o-transition: 0.3s;

				transition: 0.3s;
				visibility: hidden;
			}

			.modal {
				text-align: center;
				color: white;
				font-family: 'Inconsolata', Consolas, monaco, monospace;

				-webkit-transition: 0.2s, ease, 0.2s;

				-o-transition: 0.2s, ease, 0.2s;

				transition: 0.2s, ease, 0.2s;

				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);

				height: 0vh;
				width: 80vw;
				min-width: 100px;
				overflow: hidden;
				z-index: 10;

				border: 2px solid white;
				-webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.66);
				box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.66);

				visibility: hidden;
			}

			.div {
				/* visibility: hidden; */
				background-color: black;
				padding: 15px;
			}

			.modalHeader {
				font-size: 1.4em;
			}

			.smallerText {
				font-size: 0.85em;
			}

			#multimediaModal {
				display: -ms-grid;
				display: grid;
				-ms-grid-rows: auto, 15px, auto;
				grid-template-rows: auto, 15px, auto;
				text-align: center;
				color: white;
				font-family: 'Inconsolata', Consolas, monaco, monospace;
			}

			#multimediaModal span {
				-ms-grid-row: 2;
				grid-row: 2;
			}

			#contactModal {
				text-align: center;
				color: white;
				font-family: 'Inconsolata', Consolas, monaco, monospace;
			}

			#aboutMeModal {
				display: flex;
				flex-direction: column;
			}

			.aboutMeContent {
				text-align: left;
				max-width: 700px;
				width: 100%;
				margin: auto;
				transition: margin 2s;
				overflow-y: scroll;
			}

			@media (max-width: 375px) {
				.aboutMeContent {
					font-size: 1rem;
				}
			}

			.aboutMeContent > a {
				font-weight: bold;
				text-decoration: underline;
				cursor: pointer;
			}

			.ti-cursor {
				mix-blend-mode: difference;
			}

			:root {
				--ti-cursor-margin-left: 0em;

				--ti-cursor-margin-right: 0.1em;
			}

			#arErrorModal {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		</style>
	</div>
</html> -->
</BaseLayout>
