---
import BaseLayout from '../layouts/BaseLayout.astro';
import Cube from '../components/home/Cube.astro';
import { Image } from 'astro:assets';
import ProfilePic from '../assets/home/perfil.jpg';
---

<BaseLayout>
	<div class="custom-bg mt-0 h-full min-h-screen grow bg-orange-700 md:-mt-8 md:min-h-[unset]">
		<div class="mx-auto block w-fit">
			<Cube />
		</div>
		<div
			class="profile-small-height relative mx-auto -mt-12 aspect-[614/703] h-[65vh] max-w-full overflow-hidden"
		>
			<Image
				class="absolute bottom-0 left-1/2 aspect-[614/703] h-full -translate-x-1/2 transform object-cover mix-blend-multiply"
				src={ProfilePic}
				alt="A picture of me looking up (to the 3D cube)"
			/>
		</div>
		<nav
			class="nav-small-height absolute bottom-4 left-1/2 m-auto mb-4 flex w-max -translate-x-1/2 transform flex-col font-mono md:bottom-20"
		>
			<a
				href="/blog"
				class="px-1 transition before:content-['>_'] hover:bg-orange-700 focus:bg-orange-700"
				id="aboutMe"
				>Blog
			</a>

			<a
				href="/about"
				class="px-1 transition before:content-['>_'] hover:bg-orange-700 focus:bg-orange-700"
				id="aboutMe"
			>
				About</a
			>

			<a
				href="/assets/cv"
				class="px-1 transition before:content-['>_'] hover:bg-orange-700 focus:bg-orange-700"
				download
				class="navElement"
				id="webDevCV"
			>
				Resume<svg
					class="inline pb-1"
					xmlns="http://www.w3.org/2000/svg"
					width="25"
					height="25"
					viewBox="0 0 24 24"
					><path
						fill="currentColor"
						d="m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-6 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z"
					></path></svg
				>
			</a>

			<button
				class:list={[
					"md:hidden! block px-1 transition before:content-['>_'] hover:bg-orange-700 focus:bg-orange-700",
				]}
				id="arButton"
				tabindex="0"
				title="Only for devices that supports AR"
			>
				Augment Reality
			</button>
		</nav>
	</div>
	<script>
		// This is a hotfix. I didn't want to install and import if I am using a CDN
		interface mv extends HTMLElement {
			activateAR: () => void;
		}

		// modelViewer.canActivateAR still not working :(
		// Keep looking at the docs untill we have a better method to detect AR capable hardware

		const modelViewer = document.querySelector('model-viewer') as mv;
		const button = document.querySelector('button#arButton');
		button &&
			button.addEventListener('click', () => {
				modelViewer.activateAR();
			});
	</script>

	<style>
		body {
			padding-bottom: 0 !important;
		}
		@media screen and (min-width: 1024px) {
			.onlyMobile {
				display: none;
			}
		}
		.custom-bg {
			background: radial-gradient(
				circle,
				rgba(234, 88, 12, var(--tw-bg-opacity)) 7%,
				rgb(194, 65, 12, var(--tw-bg-opacity)) 30%,
				rgba(41, 37, 36, var(--tw-bg-opacity)) 90%
			);
		}

		@media screen and (max-height: 700px) {
			.nav-small-height {
				background-color: black;
				border: 1px solid white;
				padding: 0.5em;
				position: static;
				margin: 0 auto 2em auto;
				transform: none;
			}

			.profile-small-height {
				display: none;
			}
		}
	</style>
</BaseLayout>
